h1 {
    color: green;
    text-align: center;
    
}

body {
    background-color: black;
}

.botoesContainer {
    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    gap: 20px;
    flex-direction: column;
    

}
button {
    padding: 15px 30px;
    background-color: green;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;

}

.hexagon {
  --b: 10px;
  height: 200px;
  aspect-ratio: 1/cos(30deg);
  clip-path: 
    polygon(0 50%,50% -50%,100% 50%,50% 150%,0 50%,
    var(--b) 50%,
    calc(25% + var(--b)*cos(60deg)) calc(100% - var(--b)*sin(60deg)),
    calc(75% - var(--b)*cos(60deg)) calc(100% - var(--b)*sin(60deg)),
    calc(100% - var(--b)) 50%,
    calc(75% - var(--b)*cos(60deg)) calc(var(--b)*sin(60deg)),
    calc(25% + var(--b)*cos(60deg)) calc(var(--b)*sin(60deg)),
    var(--b) 50%);
  background: #3B8686;
}